@use 'variables' as *;

.logo {
  color: $primary-text-color;
}

.light-theme {
  .wordmark-image {
    display: inline;
  }

  .wordmark-image-dark {
    display: none;
  }
}

.dark-theme {
  .wordmark-image {
    display: none;
  }

  .wordmark_dark-image-dark {
    display: inline;
  }
}
