/* More Visible CWs */

.status__content--with-spoiler > p {
  position: relative;

  .translate {
    max-width: calc(100% - 80px);
    width: 100%;
    display: inline-block;
    font-weight: bold;
    padding: 8px;
    border: var(--ui-body-secondary-color) 2px solid;
    border-right: 0;
    box-sizing: border-box;
    margin-left: -20px;
    padding-left: 20px;
    background: var(--ui-body-secondary-color);
  }
}

.status__content__spoiler-link {
  background: var(--ui-body-secondary-color) !important;
  transition: background 0.2s, border 0.2s;
  color: white;
  padding: 8px;
  border: var(--ui-body-secondary-color) 2px solid;
  width: 120px;
  border-radius: 0;
  box-sizing: border-box;
  margin-left: -5px;
  position: absolute;
  height: 100%;

  &:hover {
    background: var(--ui-highlight-color) !important;
    border: var(--ui-highlight-color) 2px solid;
  }
}

.muted {
  .status__content--with-spoiler > p > .translate {
    border: var(--ui-body-color) 2px solid;
    background: var(--ui-body-color);
    color: var(--ui-font-off-color);
  }

  .status__content__spoiler-link {
    background: var(--ui-body-color) !important;
    border: var(--ui-body-color) 2px solid;

    &:hover {
      background: var(--ui-highlight-color) !important;
      border: var(--ui-highlight-color) 2px solid;
    }
  }
}

.status__content__spoiler--hidden {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
