.right_column {
  .dismissable-banner {
    display: none;
  }

  .list-panel {
    margin-top: 0;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      padding: 15px;
      display: block;
      border-radius: var(--ui-border-radius);
      color: rgb(var(--ui-font-color));

      &:hover {
        background: rgb(var(--ui-highlight-color));
      }
    }
  }

  .explore__tags-header,
  .list-panel,
  .explore__suggested-header {
    background-color: var(--ui-body-secondary-color);
    margin-bottom: 0.5rem;
    border-radius: var(--ui-border-radius);
    text-decoration: none;
    overflow: hidden;
    font-size: 1rem;
    padding: 15px;
  }

  .trends__item {
    padding: 0;

    .permalink {
      width: 100%;
      color: var(--ui-font-color);
      padding: 15px;
      border-radius: var(--ui-border-radius);
      transition:
        background 0.2s,
        color 0.2s;

      .hashname {
        font-weight: bold;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(var(--ui-highlight-color));
      }

      &:hover {
        background: rgb(var(--ui-highlight-color));

        .hashname {
          color: rgb(var(--ui-font-color));
        }

        .trends__item__sparkline path:first-child {
          fill: var(--ui-font-color) !important;
        }

        .trends__item__sparkline path:last-child {
          stroke: var(--ui-font-color) !important;
        }
      }
    }
  }

  .trends__item__name {
    float: left;
    color: inherit;

    > span {
      color: var(--ui-font-off-color);
      font-weight: 100;
    }
  }

  .trends__item__sparkline {
    float: right;
    transform: scale(1.3);
  }
}
