.right_column {
  .dismissable-banner {
    display: none;
  }

  .list-panel {
    margin-top: 0;
    margin-bottom: 15px;

    a {
      color: rgb(var(--ui-highlight-color));
      text-decoration: none;
      padding: 15px;
      display: block;
    }
  }

  .explore__tags-header,
  .list-panel,
  .explore__suggested-header {
    background-color: var(--ui-body-dim-color);
    margin-bottom: 0.5rem;
    border-radius: var(--ui-border-radius);
    color: rgb(var(--ui-highlight-color));
    text-decoration: none;
    overflow: hidden;
    padding: 15px;
    font-size: 1rem;
  }

  .explore__suggested-header {
    background-color: var(--ui-body-secondary-color);
  }
}
