.search {
  margin-bottom: 10px;
  position: relative;

  &__popout {
    box-sizing: border-box;
    display: none;
    position: absolute;
    inset-inline-start: 0;
    margin-top: -2px;
    width: 100%;
    background: $ui-base-color;
    border-radius: 0 0 4px 4px;
    box-shadow: 4px 4px 6px rgba($base-shadow-color, 0.4);
    z-index: 99;
    font-size: 13px;
    padding: 15px 5px;

    h4 {
      text-transform: uppercase;
      color: $dark-text-color;
      font-weight: 500;
      padding: 0 10px;
      margin-bottom: 10px;
    }

    &__menu {
      &__message {
        color: $dark-text-color;
        padding: 0 10px;
      }

      &__item {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        font: inherit;
        background: transparent;
        color: $darker-text-color;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
        text-align: start;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &--flex {
          display: flex;
          justify-content: space-between;
        }

        .icon-button {
          transition: none;
        }

        &:hover,
        &:focus,
        &:active,
        &.selected {
          background: rgb(var(--ui-highlight-color));
          color: $primary-text-color;

          .icon-button {
            color: $primary-text-color;
          }
        }

        mark {
          background: transparent;
          font-weight: 700;
          color: $primary-text-color;
        }
      }
    }
  }

  &.active {
    .search__popout {
      display: block;
    }
  }
}

.search__input {
  @include search-input;

  display: block;
  padding: 15px;
  padding-inline-end: 30px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 0;
  border-bottom: 2px solid;
  background: transparent;

  &::placeholder {
    color: lighten($darker-text-color, 4%);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }
}

.search__icon {
  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus {
    outline: 0 !important;
  }

  .fa {
    position: absolute;
    top: 16px;
    inset-inline-end: 10px;
    z-index: 2;
    display: inline-block;
    opacity: 0;
    transition: all 100ms linear;
    transition-property: color, transform, opacity;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: $secondary-text-color;
    cursor: default;
    pointer-events: none;

    &.active {
      pointer-events: auto;
      opacity: 0.3;
    }
  }

  .fa-search {
    transform: rotate(0deg);

    &.active {
      pointer-events: auto;
      opacity: 0.3;
    }
  }

  .fa-times-circle {
    top: 17px;
    transform: rotate(0deg);
    cursor: pointer;

    &.active {
      transform: rotate(90deg);
    }

    &:hover {
      color: var(--ui-font-color);
    }
  }
}

.search-results__header {
  color: $dark-text-color;
  background: lighten($ui-base-color, 2%);
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  cursor: default;

  .fa {
    display: inline-block;
    margin-inline-end: 5px;
  }
}

.search-results__info {
  padding: 20px;
  color: $darker-text-color;
  text-align: center;
}

.trends {
  &__header {
    color: $dark-text-color;
    background: lighten($ui-base-color, 2%);
    font-weight: 500;
    padding: 15px;
    font-size: 16px;
    cursor: default;

    .fa {
      display: inline-block;
      margin-inline-end: 5px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;

    &:last-child {
      border-bottom: 0;
    }

    &__name {
      flex: 1 1 auto;
      color: var(--ui-font-secondary-color);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      strong {
        font-weight: 500;
      }

      a {
        color: rgb(var(--ui-highlight-color));
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover,
        &:focus,
        &:active {
          span {
            text-decoration: underline;
          }
        }
      }
    }

    &__current {
      flex: 0 0 auto;
      font-size: 24px;
      font-weight: 500;
      text-align: end;
      color: $secondary-text-color;
      text-decoration: none;
    }

    &__sparkline {
      flex: 0 0 auto;
      width: 50px;

      path:first-child {
        fill: rgb(var(--ui-highlight-color)) !important;
        fill-opacity: 0.25 !important;
      }

      path:last-child {
        stroke: rgb(var(--ui-highlight-color)) !important;
        fill: none !important;
      }
    }

    &--requires-review {
      .trends__item__name {
        color: rgb(var(--ui-highlight-color));

        a {
          color: rgb(var(--ui-highlight-color));
        }
      }

      .trends__item__current {
        color: rgb(var(--ui-highlight-color));
      }

      .trends__item__sparkline {
        path:first-child {
          fill: rgb(var(--ui-highlight-color)) !important;
        }

        path:last-child {
          stroke: rgb(var(--ui-highlight-color)) !important;
        }
      }
    }

    &--disabled {
      .trends__item__name {
        color: lighten($ui-base-color, 12%);

        a {
          color: lighten($ui-base-color, 12%);
        }
      }

      .trends__item__current {
        color: lighten($ui-base-color, 12%);
      }

      .trends__item__sparkline {
        path:first-child {
          fill: rgb(var(--ui-highlight-color)) !important;
        }

        path:last-child {
          stroke: rgb(var(--ui-highlight-color)) !important;
        }
      }
    }
  }

  &--compact &__item {
    padding: 10px;
  }
}
