@import 'misc';
@import 'boost';
@import 'accounts';
@import 'domains';
@import 'status';
@import 'modal';
@import 'compose_form';
@import 'columns';
@import 'regeneration_indicator';
@import 'directory';
@import 'search';
@import 'emoji';
@import 'doodle';
@import 'drawer';
@import 'media';
@import 'sensitive';
@import 'lists';
@import 'emoji_picker';
@import 'local_settings';
@import 'single_column';
@import 'announcements';
@import 'explore';
@import 'signed_out';
@import 'privacy_policy';
@import 'about';

/* More Visible CWs */

.status__content--with-spoiler > p {
  position: relative;
}

.status__content--with-spoiler > p > .translate {
  max-width: calc(100% - 120px);
  width: 100%;
  display: inline-block;
  font-weight: bold;
  padding: 8px;
  border: darken($ui-highlight-color, 3%) 2px solid;
  border-right: 0;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.status__content__spoiler-link {
  background: darken($ui-highlight-color, 3%) !important;
  transition: background 0.2s;
  color: white;
  padding: 8px;
  border: darken($ui-highlight-color, 3%) 2px solid;
  width: 120px;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  margin-left: -5px;
  position: absolute;
  height: 100%;
}

.status__content__spoiler-link:hover {
  background: $ui-highlight-color !important;
  border: $ui-highlight-color 2px solid;
}
