:root {
  --ui-page-background:#191b22;
  --ui-base-color:#282c37;
  --ui-base-lighter-color:#333845;
  --ui-primary-color:#9baec8;
  --ui-secondary-color:#d9e1e8;
  --ui-highlight-color:#6364ff;
}

@import 'misc';
@import 'boost';
@import 'accounts';
@import 'domains';
@import 'status';
@import 'modal';
@import 'compose_form';
@import 'columns';
@import 'regeneration_indicator';
@import 'directory';
@import 'search';
@import 'emoji';
@import 'doodle';
@import 'drawer';
@import 'media';
@import 'sensitive';
@import 'lists';
@import 'emoji_picker';
@import 'local_settings';
@import 'error_boundary';
@import 'single_column';@import 'single_column_aether';
@import 'announcements';
@import 'explore';
@import 'signed_out';
@import 'privacy_policy';
@import 'about';
@import 'contentwarning';
