.compose-panel {
  width: 285px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  overflow-y: hidden;

  .hero-widget {
    box-shadow: none;

    &__text,
    &__img,
    &__img img {
      border-radius: 0;
    }

    &__text {
      padding: 15px;
      color: $secondary-text-color;

      strong {
        font-weight: 700;
        color: $primary-text-color;
      }
    }
  }

  .search__input {
    line-height: 18px;
    font-size: 16px;
    padding: 15px;
    padding-right: 30px;
  }

  .search__icon .fa {
    top: 15px;
  }

  .drawer--account {
    flex: 0 1 48px;
  }

  .compose-form {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    min-height: 310px;
  }

  .compose-form__autosuggest-wrapper {
    overflow-y: auto;
    background-color: $white;
    border-radius: 4px 4px 0 0;
    flex: 0 1 auto;
  }

  .autosuggest-textarea__textarea {
    overflow-y: hidden;
  }
}

.navigation-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  height: calc(100% - 20px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  & > a {
    flex: 0 0 auto;
  }

  .logo {
    height: 30px;
    width: auto;
  }
}

.navigation-panel,
.compose-panel {
  hr {
    flex: 0 0 auto;
    border: 0;
    background: transparent;
    border-top: 1px solid $ui-base-color;
    margin: 10px 0;
  }

  .flex-spacer {
    background: transparent;
  }
}

@media screen and (min-width: 600px) {
  .tabs-bar__link {
    span {
      display: inline;
    }
  }
}

.columns-area--mobile {
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  .column,
  .drawer {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .account-card {
    margin-bottom: 0;
  }

  .filter-form {
    display: flex;
  }

  .autosuggest-textarea__textarea {
    font-size: 16px;
  }

  .search__input {
    line-height: 18px;
    font-size: 16px;
    padding: 15px;
    padding-right: 30px;
  }

  .search__icon .fa {
    top: 15px;
  }

  .scrollable {
    overflow: visible;

    @supports(display: grid) {
      contain: content;
    }
  }

  @media screen and (min-width: $no-gap-breakpoint) {
    padding: 10px 0;
    padding-top: 0;
  }

  .detailed-status {
    padding: 15px;

    .media-gallery,
    .video-player,
    .audio-player {
      margin-top: 15px;
    }
  }

  .account__header__bar {
    padding: 5px 10px;
  }

  .navigation-bar,
  .compose-form {
    padding: 15px;
  }

  .compose-form .compose-form__publish .compose-form__publish-button-wrapper {
    padding-top: 15px;
  }

  .notification__report {
    padding: 15px 15px 15px (48px + 15px * 2);
    min-height: 48px + 2px;

    &__avatar {
      left: 15px;
      top: 17px;
    }
  }

  .status {
    padding: 15px;
    min-height: 48px + 2px;

    .media-gallery,
    &__action-bar,
    .video-player,
    .audio-player {
      margin-top: 10px;
    }
  }

  .account {
    padding: 15px 10px;

    &__header__bio {
      margin: 0 -10px;
    }
  }

  .notification {
    &__message {
      padding-top: 15px;
    }

    .status {
      padding-top: 8px;
    }

    .account {
      padding-top: 8px;
    }
  }
}

@media screen and (min-width: $no-gap-breakpoint) {
  .tabs-bar {
    width: 100%;
  }

  .react-swipeable-view-container .columns-area--mobile {
    height: calc(100% - 10px) !important;
  }

  .getting-started__wrapper,
  .search {
    margin-bottom: 10px;
  }

  .tabs-bar__link.optional {
    display: none;
  }

  /*.search-page .search {
    display: none;
  }*/

  /*.navigation-panel__legal {
    display: none;
  }*/
  
  .layout-single-column .status {
    margin-top:8px;
    border-radius:4px;
    border-bottom:0;
  }
  .layout-single-column .ui__header {
    display: flex;
    width:885px;
    margin:0 auto;
  }
  .layout-single-column .ui__header__wrapper {
    border-bottom:1px $ui-base-color solid;
    position:fixed;
    width:100%;
    z-index:100;
    background: #191b22;
  }
  .layout-single-column .columns-area__panels {
    margin-top:60px;
    height: calc(100% - 60px);
    min-height: calc(100vh - 60px);
    transition:color .2s;
  }
  .layout-single-column .ui__header__links .icon-button {
    color:$secondary-text-color;
  }
  .layout-single-column .ui__header__links .icon-button:hover {
    color:$primary-text-color;
    background:transparent;
  }
  .layout-single-column .header-link__notif {
    font-size:22px!important;
    line-height:22px!important;
  }
  .layout-single-column .detailed-status__action-bar {
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
  }
  
  .layout-single-column .ui__header__links .column-link {
    font-size: 20px!important;
  }
  
  .layout-single-column .column-link {
    font-size: 18px!important;
  }
  
  .layout-single-column .column-header__buttons {
    border-top-left-radius:4px;
    overflow:hidden;
  }
  
  .layout-single-column .column-back-button, .layout-single-column .explore__search-header, .layout-single-column .empty-column-indicator, .layout-single-column .column-header__button, .layout-single-column .tabs-bar__wrapper, .layout-single-column .column-header {
    background:transparent;
  }
  
  .layout-single-column .column-header__button.active {
    background: lighten($ui-base-color, 8%);
  }
  
  .layout-single-column .dismissable-banner {
    border-radius:4px;
    margin-top:8px;
  }
  
  .layout-single-column .explore__search-header {
    padding:0;
    padding-top:15px;
    padding-bottom:15px;
  }
  
  .layout-single-column .account-timeline__header {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    overflow:hidden;
  }
  
  .layout-single-column .focusable {
    margin-top:8px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    overflow:hidden;
  }
  
  .layout-single-column #Blocked-domains, .layout-single-column #Blocked-users, .layout-single-column #Muted-users, .layout-single-column #Lists, .layout-single-column #Follow-requests, .layout-single-column #Pinned-posts{
    padding-left:40px;
  }
  
  .layout-single-column .column-back-button > span { /*Hide Back Text*/
    display:none;
  }
  
  .layout-single-column .about .link-footer {
    display:block;
  }
  
  .layout-single-column .columns-area__panels__pane--compositional {
    display:none;
  }
  
  .layout-single-column .tabs-bar__wrapper {
    position:static;
  }
  
  //.layout-single-column .tabs-bar__wrapper {
  //  border-bottom-right-radius:4px;
  //  border-bottom-left-radius:4px;
  //  overflow:hidden;
  //}
}

@media screen and (max-width: $no-gap-breakpoint - 1px) {
  $sidebar-width: 285px;

  .columns-area__panels__main {
    width: calc(100% - $sidebar-width);
  }

  .columns-area__panels {
    min-height: calc(100vh - $ui-header-height);
  }

  .columns-area__panels__pane--navigational {
    min-width: $sidebar-width;

    .columns-area__panels__pane__inner {
      width: $sidebar-width;
    }

    .navigation-panel {
      margin: 0;
      background: $ui-base-color;
      border-left: 1px solid lighten($ui-base-color, 8%);
      height: 100vh;
    }

    .navigation-panel__sign-in-banner,
    .navigation-panel__logo,
    .getting-started__trends {
      display: none;
    }

    .column-link__icon {
      font-size: 18px;
    }
  }

  .ui__header {
    display: flex;
    background: $ui-base-color;
    border-bottom: 1px solid lighten($ui-base-color, 8%);
  }

  .column-header,
  .column-back-button,
  .scrollable,
  .error-column {
    border-radius: 0 !important;
  }
}

@media screen and (max-width: $no-gap-breakpoint - 285px - 1px) {
  $sidebar-width: 55px;

  .columns-area__panels__main {
    width: calc(100% - $sidebar-width);
  }

  .columns-area__panels__pane--navigational {
    min-width: $sidebar-width;

    .columns-area__panels__pane__inner {
      width: $sidebar-width;
    }

    .column-link span {
      display: none;
    }

    .list-panel {
      display: none;
    }
  }
}

.explore__search-header {
  display: flex;
}

@media screen and (max-width: $no-gap-breakpoint - 1px) {
  .columns-area__panels__pane--compositional {
    display: none;
  }

  .explore__search-header {
    display: flex;
  }
}
