@font-face {
  font-family: mastodon-flow-block;
  src:
    local('Flow Block'),
    url('~fonts/flow-block/flowblock-regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
