.wired.dark-theme,
.wireless.dark-theme {
  .status {
    background: var(--ui-body-dark-color);
  }

  .right_column .explore__suggested-header,
  .right_column .explore__tags-header,
  .right_column .list-panel {
    background: var(--ui-body-dark-color);
    border: 2px solid var(--ui-body-color);
  }

  .account__fields {
    border: 1px solid var(--ui-body-color);
    background: var(--ui-body-color);

    dl {
      border-bottom: 1px solid var(--ui-body-color);
    }
  }
}

.wired.light-theme,
.wireless.light-theme {
  background: var(--ui-body-color) !important;

  .status {
    background: var(--ui-body-color);
  }

  .focusable {
    border-color: var(--ui-page-background);
  }

  .right_column .explore__suggested-header,
  .right_column .explore__tags-header,
  .right_column .list-panel {
    background: var(--ui-body-color);
    border: 2px solid var(--ui-page-background);
  }

  .account__fields {
    border: 1px solid var(--ui-page-background);
  }
}

.smooshed {
  .item-list {
    margin-top: 8px;
  }

  .status {
    border-radius: 0;
    margin-top: 2px;
  }

  article:first-child .status {
    border-radius: var(--ui-border-radius) var(--ui-border-radius) 0 0;
  }

  article:last-child .status {
    border-radius: 0 0 var(--ui-border-radius) var(--ui-border-radius);
  }
}

.wired.smooshed {
  .focusable {
    border-bottom: 2px solid transparent;
    margin-top: -2px;

    &:focus {
      border-bottom: 2px solid var(--ui-highlight-color);
      z-index: 1;
    }
  }

  article:last-child .focusable {
    border-bottom: 2px solid var(--ui-body-color);
  }
}

.wireless {
  .focusable {
    border-color: transparent;
  }

  .right_column .list-panel {
    background: var(--ui-body-dark-color);
    border-color: transparent;
  }

  .account__fields {
    border-color: transparent;

    dl {
      border-bottom-color: transparent;
    }
  }
}
