.wired {
  .status {
    background: var(--ui-body-dark-color);
  }

  .right_column .explore__suggested-header,
  .right_column .explore__tags-header,
  .right_column .list-panel {
    background: var(--ui-body-dark-color);
    border: 2px solid var(--ui-body-color);
  }
}

.smooshed {
  .status {
    border-radius: 0;
    margin-top: 2px;
  }

  article:first-child .status {
    border-radius: var(--ui-border-radius) var(--ui-border-radius) 0 0;
  }

  article:last-child .status {
    border-radius: 0 0 var(--ui-border-radius) var(--ui-border-radius);
  }
}

.wired.smooshed {
  .focusable {
    border-bottom: 2px solid transparent;
    margin-top: -2px;

    &:focus {
      border-bottom: 2px solid var(--ui-highlight-color);
      z-index: 1;
    }
  }

  article:last-child .focusable {
    border-bottom: 2px solid var(--ui-body-color);
  }
}
