:root {
  /* Specialty Elements */
  --ui-dropdown-shadow: rgba(0, 0, 0, 40%);
  --ui-dropdown-shadow-20: rgba(0, 0, 0, 20%);

  /* Element Sizes */
  --ui-main-column-width: 630px;
  --ui-secondary-column-width: 460px;
  --ui-secondary-profile-column-width: 500px;
  --ui-avatar-status-size: 62px;
  --ui-border-radius: 6px;
  --ui-highlight-button-text-color: #ffffff;
  --ui-widescreen-width: 1150px;
  --ui-right-column-width: 300px;
  --ui-interface-font: roboto;
  --ui-post-font: roboto;

  accent-color: var(--ui-highlight-color);
}

.wide {
  --ui-widescreen-width: 1250px;
  --ui-main-column-width: 700px;
}

.dark-theme,
.modal-layout {
  /* Background colors */
  --ui-page-background: #151515;
  --ui-primary-color: #c6c6c6;
  --ui-secondary-color: #e1e1e8;
  --ui-shadow-color: #202020;
  --ui-body-color: #242427;
  --ui-body-secondary-color: #1e1e20;
  --ui-body-simple-bg: #ffffff;
  --ui-page-border-color: #272729;
  --ui-body-dark-color: var(--ui-page-background);
  --ui-base-color: var(--ui-body-color);
  --ui-base-lighter-color: #333336;

  /* Font Colors */
  --ui-font-color: #eaeaea;
  --ui-font-secondary-color: #dedee5;
  --ui-inverted-font-color: #252933;
  --ui-font-dimmer-color: #6f6f79;
  --ui-font-dimmest-color: var(--ui-primary-color);
  --ui-font-brighter-color: #333845;
  --ui-font-bright-color: #b4b4c8;
  --ui-font-stark-color: #000000;
}

/* Light theme */

.light-theme {
  --ui-page-background: #f1f1f1;
  --ui-base-color: #ffffff;
  --ui-base-lighter-color: #ffffff;
  --ui-primary-color: #c1c1c1;
  --ui-secondary-color: #dfdfdf;
  --ui-shadow-color: #202020;
  --ui-body-color: #ffffff;
  --ui-body-secondary-color: #f4f4f4;
  --ui-body-simple-bg: #333845;
  --ui-page-border-color: #d5d5d5;
  --ui-body-dark-color: var(--ui-page-background);

  /* Font Colors */
  --ui-font-color: #262626;
  --ui-font-secondary-color: #46494a;
  --ui-inverted-font-color: #282c37;
  --ui-font-dimmer-color: #606984;
  --ui-font-dimmest-color: #6f7791;
  --ui-font-brighter-color: #96a4c8;
  --ui-font-bright-color: #545e6c;
  --ui-font-stark-color: #ffffff;

  .wordmark img,
  .logo-container-light {
    display: inherit !important;
  }

  .wordmark_dark img,
  .logo-container-dark {
    display: none !important;
  }
}

/* Mixed theme */

.mixed-theme {
  --ui-page-background: #151515;
  --ui-base-color: #ffffff;
  --ui-base-lighter-color: #ffffff;
  --ui-primary-color: #9baec8;
  --ui-secondary-color: #dfdfdf;
  --ui-shadow-color: #202020;
  --ui-body-color: #ffffff;
  --ui-body-secondary-color: #eff2f5; /* change to border for light theme? */
  --ui-body-simple-bg: #333845;
  --ui-page-border-color: #272729;
  --ui-body-dark-color: #e9ecee;

  /* Font Colors */
  --ui-font-color: #262626;
  --ui-font-secondary-color: #46494a;
  --ui-inverted-font-color: #282c37;
  --ui-font-dimmer-color: #606984;
  --ui-font-dimmest-color: #6f7791;
  --ui-font-brighter-color: #96a4c8;
  --ui-font-bright-color: #545e6c;
  --ui-font-stark-color: #fff;

  .account__section-headline a,
  .account__section-headline button,
  .notification__filter-bar a,
  .notification__filter-bar button,
  .ui__header__left .column-link,
  .link-footer p,
  .link-footer p a,
  .about__header p,
  .about__header h1,
  .search__icon .fa {
    color: white;
  }

  .account__section-headline a.active,
  .account__section-headline button.active,
  .notification__filter-bar a.active,
  .notification__filter-bar button.active {
    color: var(--ui-highlight-color);
  }

  .conversation-scroll {
    background: var(--ui-base-color);
    border-radius: 8px;
  }

  .about__domain-blocks {
    background: transparent;
  }

  .ui__header__links .column-link .fa:hover {
    -webkit-text-stroke: 1.8px white;
  }

  .notification-follow.focusable {
    background: var(--ui-body-color);
    border-radius: 8px;
  }

  .search__input {
    color: var(--ui-body-secondary-color);

    &::placeholder {
      color: var(--ui-body-secondary-color);
    }
  }

  code {
    background: var(--ui-font-brighter-color);
  }
}

/* SCSS Vars */

// Commonly used web colors
$black: #000000; // Black
$white: #ffffff; // White
$success-green: #79bd9a; // Padua
$error-red: #df405a; // Cerise
$warning-red: #ff5050; // Sunset Orange
$gold-star: #ca8f04; // Dark Goldenrod

$red-bookmark: $warning-red;

// Values from the classic Mastodon UI
$classic-base-color: #282c37; // Midnight Express
$classic-primary-color: #9baec8; // Echo Blue
$classic-secondary-color: #d9e1e8; // Pattens Blue
$classic-highlight-color: #6364ff; // Brand purple

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default; // Darkest
$ui-base-lighter-color: lighten(
  $ui-base-color,
  26%
) !default; // Lighter darkest
$ui-primary-color: $classic-primary-color !default; // Lighter
$ui-secondary-color: $classic-secondary-color !default; // Lightest
$ui-highlight-color: $classic-highlight-color !default;

// Variables for texts
$action-button-color: $ui-base-lighter-color !default;

// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;

// Variables for components
$media-modal-media-max-width: 100%;

// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 890px; /* Originally 1175px */
$widescreen-breakpoint: 1150px; /* TODO Should change to 1175 depending on if wide is set */

$font-sans-serif: 'roboto' !default;
$font-display: 'roboto-font-display' !default;
$font-monospace: 'roboto-monospace' !default;

// Avatar border size (8% default, 100% for rounded avatars)
$ui-avatar-border-size: 8%;

// More variables
$dismiss-overlay-width: 4rem;

:root {
  --dropdown-border-color: #{lighten($ui-base-color, 12%)};
  --dropdown-background-color: #{lighten($ui-base-color, 4%)};
  --dropdown-shadow: 0 20px 25px -5px #{rgba($base-shadow-color, 0.25)},
    0 8px 10px -6px #{rgba($base-shadow-color, 0.25)};
}
