:root {
  /* Background colors */
  --ui-page-background: #191b22;
  --ui-base-color: #282c37;
  --ui-base-lighter-color: #333845;
  --ui-primary-color: #9baec8;
  --ui-secondary-color: #d9e1e8;
  --ui-highlight-color: #589734;
  --ui-shadow-color: #202020;
  --ui-body-color: #313543;
  --ui-body-secondary-color: #1f222b;
  --ui-body-dim-color: #282c37;
  --ui-body-simple-bg: #ffffff;

  /* Font Colors */
  --ui-font-color: #ffffff;
  --ui-font-secondary-color: #d9e1e8;
  --ui-inverted-font-color: #282c37;
  --ui-font-dimmer-color: #606984;
  --ui-font-dimmest-color: var(--ui-primary-color);
  --ui-font-brighter-color: #333845;
  --ui-font-bright-color: #9baec8;

  /* Specialty Elements */
  --ui-dropdown-shadow: rgba(0, 0, 0, 40%);
  --ui-dropdown-shadow-20: rgba(0, 0, 0, 20%);

  /* Element Sizes */
  --ui-avatar-status-size: 62px;
  --ui-border-radius: 6px;
}

/* SCSS Vars */

// Commonly used web colors
$black: #000000; // Black
$white: #ffffff; // White
$success-green: #79bd9a; // Padua
$error-red: #df405a; // Cerise
$warning-red: #ff5050; // Sunset Orange
$gold-star: #ca8f04; // Dark Goldenrod

$red-bookmark: $warning-red;

// Values from the classic Mastodon UI
$classic-base-color: #282c37; // Midnight Express
$classic-primary-color: #9baec8; // Echo Blue
$classic-secondary-color: #d9e1e8; // Pattens Blue
$classic-highlight-color: #6364ff; // Brand purple

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default; // Darkest
$ui-base-lighter-color: lighten(
  $ui-base-color,
  26%
) !default; // Lighter darkest
$ui-primary-color: $classic-primary-color !default; // Lighter
$ui-secondary-color: $classic-secondary-color !default; // Lightest
$ui-highlight-color: $classic-highlight-color !default;

// Variables for texts
$action-button-color: $ui-base-lighter-color !default;

// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;

// Variables for components
$media-modal-media-max-width: 100%;

// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 890px; /* Originally 1175px */
$widescreen-breakpoint: 1175px;

$font-sans-serif: 'mastodon-font-sans-serif' !default;
$font-display: 'mastodon-font-display' !default;
$font-monospace: 'mastodon-font-monospace' !default;

// Avatar border size (8% default, 100% for rounded avatars)
$ui-avatar-border-size: 8%;

// More variables
$dismiss-overlay-width: 4rem;

:root {
  --dropdown-border-color: #{lighten($ui-base-color, 12%)};
  --dropdown-background-color: #{lighten($ui-base-color, 4%)};
  --dropdown-shadow: 0 20px 25px -5px #{rgba($base-shadow-color, 0.25)},
    0 8px 10px -6px #{rgba($base-shadow-color, 0.25)};
}
