.wireless {
  .status {
    background: var(--ui-body-dark-color);
  }

  .right_column .explore__suggested-header,
  .right_column .explore__tags-header,
  .right_column .list-panel {
    background: var(--ui-body-dark-color);
    border: 2px solid var(--ui-body-color);
  }
}
