- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path do
          %img{ src: "icon_url", alt: "Logo" }

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
